body {
  background-color: #212121;
  color: #ccc;
  font-size: 16px;
}

@font-face {
  font-family: 'vcr-osd';
  src: url('/vcr-osd.ttf');
}

.normal-container {
  max-width: 700px;
  margin: 0 auto;
}

.large-container {
  max-width: 1200px;
  margin: 0 auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text {
  font-size: 14px;
  color: #606266;
}

.text-btn {
  cursor: pointer;
  color: #409eff;
}

.flex-y-center {
  display: flex;
  align-items: center;
}

@for $i from 1 through 50 {
  .mr#{$i} {
    margin-right: (1px * $i);
  }

  .ml#{$i} {
    margin-left: (1px * $i);
  }

  .mt#{$i} {
    margin-top: (1px * $i);
  }

  .mb#{$i} {
    margin-bottom: (1px * $i);
  }
}

.markdown-body {
  background-color: transparent;
  color: #ddd;
  pre {
    background-color: #2a2a2a;
  }
}

.logo-text {
  font-size: 7em;
  color: #de335e;
  font-family: vcr-osd;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 10px 10px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

.banner {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 120px 0;
  width: 100%;
  background: #2a2a2a;
}

.main {
  padding-top: 5em;
}
