body {
  background-color: #212121;
  color: #ccc;
  font-size: 16px;
  line-height: 1.75;
  font-family: 'Pixel', Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

@font-face {
  font-display: swap;
}

@font-face {
  font-family: 'vcr-osd';
  src: url('https://cdn.jsdelivr.net/gh/hellodigua/cdn/fonts/vcr-osd.ttf');
}

@font-face {
  font-family: 'Pixel';
  src: url('https://cdn.jsdelivr.net/gh/hellodigua/cdn/fonts/zpix.woff2') format('woff2');
}

@font-face {
  font-family: 'xkcd';
  src: url('https://cdn.jsdelivr.net/gh/hellodigua/cdn/fonts/zpix.woff2') format('woff2');
}

::selection {
  background: rgba(255, 255, 255, 0.2);
}

.container {
  padding: 40px 0;
}

.normal-container {
  max-width: 700px;
  margin: 0 auto;
}

.large-container {
  max-width: 1200px;
  margin: 0 auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text {
  font-size: 14px;
  color: #606266;
}

.text-btn {
  cursor: pointer;
  color: #409eff;
}

.flex-y-center {
  display: flex;
  align-items: center;
}

@for $i from 1 through 50 {
  .mr#{$i} {
    margin-right: (1px * $i);
  }

  .ml#{$i} {
    margin-left: (1px * $i);
  }

  .mt#{$i} {
    margin-top: (1px * $i);
  }

  .mb#{$i} {
    margin-bottom: (1px * $i);
  }
}

.markdown-body {
  font-family: 'Pixel', Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background-color: transparent;
  color: #ddd;
  pre {
    background-color: #2a2a2a;
  }

  a {
    color: #de335e;
  }
}

.banner {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 60px 0;
  width: 100%;
  background: #2a2a2a;
}

.main {
  padding-top: 5em;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.banner {
  &-wrapper {
    .p2 {
      font-size: 1.1em;
    }
    .btn {
      display: inline-block;
      font-size: 1.1em;
      cursor: pointer;
      background-color: #212121;
      padding: 14px 40px;
      background-color: #de335e;
      color: #fff;
      box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 10px 10px 0px rgba(0, 0, 0, 0.2);
      transition: 0.3s all;
      &:hover {
        background-color: #ef406c;
        box-shadow: 0px 0px 0px rgb(255 255 255 / 0%), 5px 5px 0px rgb(0 0 0 / 20%);
      }
    }
  }
}

@keyframes subtitleAni {
  from {
    transform: rotate(-12deg) scale(1);
    color: #ffffd1;
  }

  to {
    transform: rotate(-8deg) scale(1.2);
    color: #ffff6d;
  }
}

.result {
  height: 100%;
  width: 100%;
  .wrapper {
    position: relative;
  }

  .top-result {
    h1 {
      font-size: 2em;
      color: #de335e;
      text-shadow: 0px 0px 0px rgb(255 255 255 / 0%), 6px 6px 0px rgb(0 0 0 / 20%);
    }
    .result-line {
      display: flex;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .score-box {
      position: relative;
      display: inline-block;
      margin-right: 60px;
    }
    .score-number {
      display: inline-block;
      background-color: #de335e;
      color: #fff;
      font-size: 8em;
      text-shadow: 0px 0px 0px rgb(255 255 255 / 0%), 10px 10px 0px rgb(0 0 0 / 20%);
      box-shadow: 0px 0px 0px rgb(255 255 255 / 0%), 10px 10px 0px rgb(0 0 0 / 20%);
      font-family: 'vcr-osd';
      line-height: 1;
      padding: 30px 30px;
    }
    .subtitle {
      position: absolute;
      right: -20%;
      bottom: 0;
      font-size: 1.2em;
      color: #fff;
      transform: rotate(-10deg);
      animation: subtitleAni 1s alternate infinite ease-in-out;
    }
    .content {
      font-size: 1em;
      span {
        color: #de335e;
        font-size: 1.5em;
      }
      .exp {
        margin-top: 20px;
        border-top: 1px solid #2f2f2f;
        padding-top: 20px;
        font-size: 0.85em;
        opacity: 0.46;
      }
    }
  }

  .content {
    .section {
      display: flex;
      justify-content: space-between;
      .item {
        width: 48%;
        background-color: #2a2a2a;
        box-sizing: border-box;
        padding: 20px;
        margin-bottom: 40px;
        // border-radius: 20px;
        box-shadow: 0px 0px 0px rgb(255 255 255 / 0%), 10px 10px 0px rgb(0 0 0 / 10%);
        .bar-chart {
          width: 100%;
          background-color: #2a2a2a !important;
        }
        h2 {
          margin: 0;
          margin-left: 10px;
          font-weight: normal;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    width: 90%;
    margin: 0 5%;
  }

  .container {
    padding: 20px 0;
  }

  .result {
    .result-line {
      flex-direction: column;
      .score-box {
        text-align: center;
        margin-bottom: 40px;
        display: flex;
        margin-right: 0;
        .score-number {
          margin: 0 auto;
        }
        .subtitle {
          right: 0;
        }
      }
    }
    .content {
      .section {
        width: 100%;
        flex-direction: column;
        .item {
          width: 100%;
        }
      }
    }
  }
}
